@{
    ViewBag.Title = "Reset Password";
}
<link rel="stylesheet" href="@Url.Content("~/Content/Style.css")" />
<div class="login-container">
  <h2>Forgot Password</h2>

    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
    {
        <div class="input-group">
            <label for="email">Enter your Email</label>
            <input type="email" name="Email" required />
        </div>
        <div class="input-group">
            <label for="newpass">New Password</label>
            <input type="password" name="NewPassword" required />
        </div>
        <button type="submit">Reset Password</button>
    }
    <a href="@Url.Action("Login", "Home")" class="signup-btn">Back to Login</a>
</div>
